/* Reset de estilos básicos, quiere que reseteemos los márgenes y paddings por defecto de todos los elementos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Esto es para definir variables CSS que luego podemos usar en el resto del archivo */

:root {
  --primary: #3b4550; /* Color principal */
  --primary-dark: #0a3d66; /* Color principal oscuro */
  --primary-hover: #0d5ba8; /* Color principal al pasar el ratón */
  --primary-light: #09f; /* Color principal claro */
  --background: #06182a; /* Color de fondo */
  --text-primary: #ffffff; /* Color de texto principal */
  --text-secondary: #cbd5e1; /* Color de texto secundario */
  --text-muted: #94a3b8; /* Color de texto atenuado */
  --border: rgba(255, 255, 255, 0.1); /* Color de borde, cada valores corresponden a la tonalidad, saturación, luminosidad y alfa */
  --card-bg: #1e293b; /* Color de fondo de tarjeta */
  --shadow: rgba(0, 0, 0, 0.3); /* Color de sombra */
  --input-bg: #1e293b; /* Color de fondo de entrada */
  --hsla-example: hsla(210, 100%, 56%, 1); /* Ejemplo de color HSLA(valores corresponden a la tonalidad, saturación, luminosidad y alfa) */
}

/* Lo siguiente es para importar la fuente Inter Variable desde una URL externa */
@font-face {
  font-family: 'Inter Variable';
  font-style: normal;
  font-display: swap;
  font-weight: 100 900;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/inter:vf@latest/latin-wght-normal.woff2) format('woff2-variations');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}


body{
  font-family: system-ui; /* Fuente del sistema para mejor rendimiento */
  background-color: var(--background); /* Usamos la variable CSS definida anteriormente */
  color: var(--text-primary); /* Color de texto principal */
  min-height: 100vh; /* Altura mínima de la ventana gráfica */
  display: flex; /* Usamos flexbox para el diseño */
  flex-direction: column; /* Dirección de los elementos en columna */
  line-height: 1.5; /* Espaciado entre líneas */
}

/* Titulos principales */
h1{
  font-size: 1.5rem; /*rem es una unidad relativa al tamaño de la fuente raíz */
  line-height: 1.2;
  display: flex;
  align-items: center;
  gap: 0.5em; /* Espacio entre elementos flexibles */

  svg{
    width: 2rem;
    height: 2rem;
    color: var(--primary-light)
  }
}

h1 + p{ /* Selecciona el párrafo que sigue inmediatamente a un h1 */
  text-wrap: balance; /* Balancea el texto para que las líneas tengan una longitud similar cuando se cambia el tamaño de la ventana */

}

/* Estilo general para el header */
header{
  background: var(--background);
  border-bottom: solid 1px var(--border); /* cada valor corresponde a el tipo de borde, grosor y color */
  padding: 0.5rem 1rem; /* el primer valor es el padding vertical y el segundo el horizontal */
  display: flex;
  align-items: center; /* Alinea los elementos hijos verticalmente en el centro */
  justify-content: space-between; /* Espacio entre los elementos hijos */
  gap: 2rem;

  /* Estilo para el nh dentro del header */
  h2{
    font-size: 1.25rem;
    font-weight: 700;
    color: var(--text-primary);
  }
}

/* Navegación del header a otras páginas */
nav{
  align-items: center;
  gap: 1rem;
  display: flex;

  a{
    text-decoration: none; /* Elimina el subrayado de los enlaces */
    color: var(--text-secondary);
    transition: color 0.2s; /* sirve para cuando se aplica un cambio de color, este se realiza en 0.2 segundos */
    font-weight: 500; /* Peso de la fuente, quiere decir que es un poco más gruesa que la normal */
    
    &:hover, &:focus{ /* &: se refiere al elemento padre, en este caso a los enlaces a, focus es cuando el enlace está enfocado */
      color: var(--primary); 
      outline: none; /* Elimina el contorno al enfocar */

    }
  }
}
/* Estilo para los enlaces dentro del div del header */
header div a{
  padding: 0.5rem 1rem; /* Espaciado interno vertical y horizontal */
  border-radius: 0.5rem;  /* Bordes redondeados */
  background-color: #334155;  /* Color de fondo */
  color: var(--text-primary);   /* Color del texto */
  display: inline-block;  /* Hace que el enlace se comporte como un bloque en línea */
  font-size: 0.875rem;  /* Tamaño de la fuente */
  font-weight: 700;  /* Peso de la fuente */  
  text-decoration: none;  /* Elimina el subrayado del enlace */
  /* TODO */  
}



/* Estilo para un selector especifico dentro de otro selector */

main > section:nth-child(2) footer{ /*esto indica que dentro del main el section nº 2 el footer de este*/
  display: grid; /* Usamos grid para crear una cuadrícula  */
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr)); /* Esto crea columnas que se ajustan automáticamente al tamaño de la pantalla, 
                                                                  con un ancho mínimo de 280px y máximo de 1fr (fracción del espacio disponible) */
  gap: 16px; /* Espacio entre los elementos de la cuadrícula */
}


/* Estilo de article general */
article{
    background-color: var(--card-bg);
    padding: 2rem;
    margin-bottom: 16px;
    border-radius: 0.5rem;
    box-shadow: 0 1px 3px 0 var(--shadow); /* Sombra para dar profundidad, cada valor corresponden a la posición X, posición Y, desenfoque, spread y color */
    
    svg{
      color:var(--primary-light); /* Color de los iconos SVG */
      background: rgba(67, 151, 208, 0.3); /*  Fondo con transparencia(cada valor es rojo, verde, azul y alfa) */
      width: 64px; /* Ancho del icono */
      height: 64px; /* Alto del icono */
      border-radius: 100%; /* 100% convierte un cuadrado en un círculo si ancho y alto son iguales.*/
      padding: 1rem ; /* añade un espacio interno al SVG. */
    }

    p{
      color: var(--text-muted);
    }

    h3{
      font-weight: 500; /* Peso de la fuente */
    }
    
}